<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About author</title>
</head>

<body>
    <h1>Author: Thoại đẹp trai</h1>
    <h1>github: github.com/huuthoai2003</h1>
    <h1>youtube: youtube.com/@NorthyNguyen </h1>
</body>

</html>